<div class="container">

  <div class="card card-container">
      <h3 class="text-center">
    RESET YOUR PASSWORD
  </h3>
      <div class="row">
          <form #regForm='ngForm' (ngSubmit)="Register(regForm)" class="separator">
              <div ngModelGroup="password" #userPassword="ngModelGroup" minlength="8" required>
                  <div class="form-group input-group col-xs-12">
                      <div class="col-xs-12 separator">
                          <input type="password" [(ngModel)]="userdata.password" name="password" class="form-control border" placeholder="PASSWORD" minlength="8" required>
                      </div>
                      <div class="col-xs-12 separator">
                          <input type="password" [(ngModel)]="userdata.confirmpassword" name="confirmpassword" class="form-control border" placeholder="CONFIRMPASSWORD" minlength="8" required>
                      </div>
                  </div>

                  <div *ngIf="(userPassword.invalid|| userPassword.value?.password != userPassword.value?.confirmpassword) && (userPassword.touched)" class="error">
                      <!-- {{userPassword.value?.pword+us erPassword.value?.conpwd}}   -->
                      <div *ngIf="userPassword.invalid; else nomatch">
                          Password must be more than 8 characters
                      </div>
                      <div>
                          <ng-template #nomatch>
                              Passwords don't match
                          </ng-template>
                      </div>
                  </div>
              </div>
              <button (click)="resetpassword()" [disabled]="!regForm.form.valid" type="submit" class="btn btn-block btn-lg resetbtn separator">RESET PASSWORD</button>
          </form>
      </div>
  </div>
</div>