.card-container.card{
    max-width: 500px;
    padding: 40px 40px;
}
.card {
    box-shadow: 0 0 10px #ccc;
    top: 80px;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 5px;

}
.text-reset{
    color: #666666;
    font-size: 20px;
}
.separator{
    margin-top: 20px;
}

.error{
    color: #ec2124;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 3px;
}
.signupbtn{
    background: #00d09f;
}
.text-member{
    color: #666666;
    font-size:12px; 
}
a {     
    color: #00d09f;
}