<div class="container">

  <div class="card card-container">
      <h3 class="text-center text-reset">
      RESET PASSWORD
    </h3>
      <div class="text-center  separator">
          Enter the email address associated with your account,
          <br> and we'll mail you a link to reset your password.
      </div>
      <form #regForm='ngForm' (ngSubmit)="Register(regForm)" class="separator">
          <div class="form-group input-group col-xs-12">
              <input type="email" [(ngModel)]="userdata.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control separator" placeholder="EMAIL" #email="ngModel">
          </div>
          <div [hidden]="email.dirty ||email.untouched" class="error">please fill this field</div>
          <div [hidden]="email.valid" class="error">Please enter a valid email </div>
      </form>
      <button (click)="resetpassword()" [disabled]="!regForm.form.valid" type="submit" class="btn btn-block btn-lg signupbtn"> Send reset link</button>
      <hr>
      <div class="text-center text-member">Already a member? <a routerLink="/Login">Login</a></div>

  </div>
</div>